* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Poppins;

}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;

}

html {
    height: fill-available;
    height: -webkit-fill-available;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(161, 161, 161);
    border-radius: 0.5rem;
    padding: 12px;

}

.title {
    padding-bottom: 0.2rem;
}

#screen {

    background-color: #bfcecd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: #000000;
    font-size: 5rem;
    text-align: end;
    padding: 0 1rem;

}

.button-grid {

    height: 100%;
    padding: 1rem;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #afafaf 0%, #f6f2f2 74%);


    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 12px;
    column-gap: 12px;
    grid-template-areas:
        "ac ce delete percentage"
        "inverse sqrt pow2 divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "zero comma equal posneg";

}

.buttons {
    display: flex;
    color: rgb(70, 62, 62);
    font-weight: 800;
    font-size: 1.5rem;
    background-color: #fee2f8;
    background-image: linear-gradient(315deg, #dfbcd7 0%, #bdf3e2 74%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24);
    height: 90%;
    width: 100%;
    padding: 0 1rem;
    border-radius: 40px;
    justify-content: center;
    align-items: center;

}

#ac-button {
    grid-area: ac;
}

#ce-button {
    grid-area: ce;
}

#delete-button {
    grid-area: delete;
}

#divide-button {
    grid-area: divide;
}

#seven-button {
    grid-area: seven;
}

#eight-button {
    grid-area: eight;
}

#nine-button {
    grid-area: nine;
}

#multiply-button {
    grid-area: multiply;
}

#four-button {
    grid-area: four;
}

#five-button {
    grid-area: five;
}

#six-button {
    grid-area: six;
}

#subtract-button {
    grid-area: subtract;
}

#one-button {
    grid-area: one;
}

#two-button {
    grid-area: two;
}

#three-button {
    grid-area: three;
}

#add-button {
    grid-area: add;
}

#zero-button {
    grid-area: zero;
}

#comma-button {
    grid-area: comma;
}

#equal-button {
    grid-area: equal;
}

#posneg-button {
    grid-area: posneg;
}

#sqrt-button {
    grid-area: sqrt;
}

#pow2-button {
    grid-area: pow2;
}

#inverse-button {
    grid-area: inverse;
}

#percentage-button {
    grid-area: percentage;
}

.footer {
    text-align: center;
    font-size: 0.8rem;

}